.card {
  border: 1px solid #484b46;
  border-radius: 50px;
  overflow: hidden;
}

.card:nth-child(2) {
  transform: translateY(20%);
}
.card:nth-child(3) {
  transform: translateY(40%);
}
.card:nth-child(4) {
  transform: translateY(60%);
}

.card:nth-child(5) {
  transform: translateY(80%);
}
.spacer {
  height: 100px;
}

.spacer-large {
  height: 500px;
}

.card-style {
  top: 2%;
  width: 90%;
  max-width: 90%;
  min-height: 500px;
}

.icon-1 {
  height: 40px;
  width: 40px;
}

/* Media query for tablets (devices with width less than 768px) */
@media (max-width: 768px) {
  .card {
    border-radius: 25px; /* Smaller border radius for smaller devices */
  }
  .card:nth-child(2) {
    transform: translateY(12%);
  }
  .card:nth-child(3) {
    transform: translateY(25%);
  }
  .card:nth-child(4) {
    transform: translateY(38%);
  }

  .card:nth-child(5) {
    transform: translateY(50%);
  }

  .spacer {
    height: 75px;
  }

  .spacer-large {
    height: 400px;
  }
}
/* Media query for mobile phones (devices with width less than 480px) */
@media (max-width: 480px) {
  .card {
    border-radius: 15px;
  } /* Even smaller border radius for mobile phones */

  .card:nth-child(2) {
    transform: translateY(5%);
  }
  .card:nth-child(3) {
    transform: translateY(10%);
  }
  .card:nth-child(4) {
    transform: translateY(15%);
  }

  .card:nth-child(5) {
    transform: translateY(20%);
  }
}

/* Globals */

.circle-btn {
  background-color: #ffffff;
  border: #56b8e6;
  color: #56b8e6;
  font-weight: 500;
  border: none;
  width: 120px;
  height: 30px;
  text-align: center;
  padding: 0;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 18px;
  /* put shadow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition:
    background-color 0.5s,
    color 0.5s,
    box-shadow 0.5s;
}

.circle-btn:hover {
  background-color: #56b8e6;
  color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.icon-check {
  height: 40px;
  width: 40px;
  color: #56b8e6;
}

.icon-arrow-right {
  height: 20px;
  width: 20px;
}
